
#chatpane
{
	position:absolute;
	width:300px;
	right:-300px;
	height:100%;
	background:#fff;
	z-index:100;
	transition:right 0.6s;
	padding-top:30px;
	display:table;
}

#chatpane > div
{
	display:table-row;
	background:#555;
	color:white;
}

#chatpane .button.chat-button
{
	position:absolute;
	bottom:20px;
	left:-100px;
	background:#c01;
	min-width:0;
	width:80px;
	height:80px;
	border-radius:40px;
	border:none;
	padding:4px 0;
	font-size:14pt;
	color:white;
	transition:transform 0.6s, opacity 0.6s;
}

#chatpane .chat-button .text
{
	transition:inherit;
	position:relative;
	display:block;
	height:24px;
	width:60px;
	top:24px;
	left:9px;
	text-align:center;
	opacity:0;
	background:#c01;
	transform:rotate(180deg);
}

#chatpane .chat-button.open
{
	transform:rotate(-180deg);
}

#chatpane .chat-button.open .text
{
	opacity:1;
}

div#chatroom
{
	height:28px;
	padding:4px;
	cursor:pointer;
	background:white;
	color:#333;
}

#chat-commands
{
	height:50px;
}

#create-room-name
{
	margin-top:-4px;
	margin-bottom:-4px;
	font-size:11pt;
	padding:4px 8px;
	border-radius:4px;
	border:1px solid #555;
	width:200px;
}

#chat-text-input
{
	font-size:10pt;
	padding:4px 8px;
	border:1px solid #555;
	width:95%;
	margin-left:2.5%;
	border-radius:4px;
}

#chat-buttons
{
	text-align:center;
	margin:15px;
}

#chat-buttons .button
{
	margin:0 30px;
	padding:20px 0;
	width:60px;
	height:60px;
	background:#c01;
	border-radius:30px;
	min-width:0;
}

#chatpane .button.chat-button:hover,
#chatpane .button.chat-button:hover *,
#chat-buttons .button:hover
{
	background:#dd0017;
}

#chatpane .button.chat-button:active,
#chatpane .button.chat-button:active *,
#chat-buttons .button:active
{
	background:#aa0007;
	box-shadow:none;
}

#chat-buttons .button:active
{
	box-shadow:3px 3px 5px rgba(200,200,200,0.5) inset;
}

.chat,
.comment,
.tag
{
	margin:0 auto;
	border:1px solid #555;
	border-radius:5px;
	padding:5px;
}

.chat
{
	width:90%;
}

.comment,
.tag
{
	width:95%;
	cursor:pointer;
}

.username
{
	font-weight:bold;
}

.tag
{
	background:#eee;
}

.username::after
{
	content:': ';
	font-weight:bold;
}

.drawing
{
	border:1px solid #555;
	border-radius:4px;
	margin:0 auto 1px;
	width:250px;
	padding:0;
	background:white;
}

.drawing svg
{
	max-width:100%;
	max-height:100%;
}
