@font-face {
	font-family:'Geomanist';
	src:url('fonts/geomanist-regular-webfont.ttf');
}

* *
{
	box-sizing:border-box;
	font-family:'Geomanist';
}
/*body
{
	margin:0;
	position:fixed;
	width:100%;
	height:100%;
	font-size:10pt;
}*/
html, body {
	margin:0;
	padding:0;
	font-family: "Geomanist";
	font-size: 100%;
	/*line-height: 1;*/
	width:100%;
	height:100%;
}


header {
	height: 40px;
	width: 100%;
	background-color: rgb(85,85,85);
	position: fixed;
	z-index: 10;
}

.upload_cont {
	color: white;
	font-size: 1.5em;
	line-height: 40px;
	width: 175px;
	position: absolute;
	top: 0;
	cursor: pointer;
	right: 25%;
}
.upload_cont:hover {
	text-decoration: underline;
}
.upload_cont img{
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	transition: .075s linear 0s;
}

.button
{
	display:inline-block;
	padding:4px 10px;
	min-width:100px;
	text-align:center;
	border:1px solid #555;
	border-radius:4px;
	font-size:11pt;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	text-decoration:none;
	color:inherit;
	background:#fff;
}

.button.disabled
{
	background:#eee;
	color:#888;
	cursor:default;
}

.button-small
{
	min-width:0;
}

.button:hover
{
	background:#eee;
}

.button:not(.disabled):active, .button.toggle-on
{
	background:#ddd;
	box-shadow:2px 2px 3px #bbb inset;
	outline:none;
}

.button:focus
{
	outline:none;
}

input:focus
{
	outline:none;
}

.dropdown
{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	display:block;
	width:100%;
	font-size:11pt;
	border-bottom:1px solid #555;
}

.dropdown .dropdown-arrow
{
	float:right;
	margin:5px 8px;
}

.dropdown.open .dropdown-arrow
{
	display:none;
}

.dropdown .dropdown-item
{
	display:block;
	padding:5px 10px;
}

.dropdown .dropdown-item:not(.unselectable):hover
{
	background:#eee;
}

.dropdown .dropdown-item:not(.unselectable):active
{
	background:#ddd;
	box-shadow:2px 2px 3px #bbb inset;
}

.dropdown.closed .dropdown-item
{
	display:none;
}

.dropdown.closed .dropdown-item.selected
{
	display:block;
}

/*.header
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:40px;
	border-bottom:1px solid #555;
	background:#555;
	z-index:200;
}*/

.header-item
{
	display:block;
	height:100%;
	line-height:40px;
	text-align:center;
	min-width:100px;
	border-radius:0;
	padding:0 15px;
	text-decoration:none;
	color:white;
	font-size:15pt;
	background:#555;
}

.header-item > *
{
	margin:-2px 0;
	vertical-align:middle;
}

.header-item-left
{
	float:left;
}

.header-item-right
{
	float:right;
}

.header-item.button
{
	background:none !important;
	color:white !important;
	box-shadow:none !important;
}

.header-item.button:hover
{
	border:1px solid white;
}

.header-item.button:active
{
	color:#c01;
}

#search-div
{
	height:400px;
	margin-bottom:-350px;
	margin-top:40px;
	background:#f0f0f0;
	padding-top:20px;
}

#search-div > div
{
	width:800px;
	margin:0 auto;
}

#search
{
	font-size:11pt;
	padding:4px 8px;
	border-radius:0;
	border:1px solid #bbb;
	vertical-align:middle;
	width:90%;
	margin-left:5%;
}

.scrollable
{
	position:relative;
	width:100%;
	height:100%;
	/*overflow-y:scroll;*/
}

#content
{
	position:relative;
	width:100%;
	height:100%;
	margin-top:10px;
	/*overflow-y:scroll;*/
	z-index:0;
<<<<<<< HEAD
	/*background-color: lime;*/
=======
>>>>>>> d1828dd1119f6290dbc16943caf3a33c19a7ddc9
}

.content-holder
{
	width:90%;
	max-width:900px;
	margin:0 auto;
	margin-bottom:100px;
}

.content-holder *
{
	box-sizing:content-box;
}
