html, body {
	margin:0;
	padding:0;
	font-family: "Geomanist";
	font-size: 100%;
	line-height: 1;
}

@font-face {
	font-family:'Geomanist';
	src:url('fonts/geomanist-regular-webfont.ttf');
}

* *
{
	font-family:'Geomanist';
}


header {
	height: 40px;
	width: 100%;
	background-color: rgb(85,85,85);
	position: fixed;
	z-index: 10;
}

.upload_cont {
	color: white;
	font-size: 1.5em;
	line-height: 40px;
	width: 175px;
	position: absolute;
	top: 0;
	cursor: pointer;
	right: 25%;
}
.upload_cont:hover {
	text-decoration: underline;
}
.upload_cont img{
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	transition: .075s linear 0s;
}
/*.upload_cont img:hover{
	height: 50px;
	position: absolute;
	top: -5px;
	right: -10px;
	cursor: pointer;
}*/

.search_notification_sect {
	height: 360px;
	background-color: rgb(240,239,238);
	padding: 40px 0 0;
	/*box-shadow: 0 1px 5px rgba(0,0,0,.2);*/
}
	/*Search Bar*/
	#search_bar_cont {
		width: 90%;
		height: 25px;
		max-width: 600px;
		margin: 0 auto;
		position: relative;
		top: 50px;
	}

	#search_bar {
		display: block;
		width: 100%;
		height: 100%;
		outline: none;
		border: 1px solid rgb(225,225,225);
		border-radius: 5px;
		font-size: 1.3em;
		line-height: 30px;
		color: rgb(70,70,70);
		text-indent: 3px;
		font-family: "Geomanist";
	}

	#search_btn {
		position: absolute;
		top: 4px;
		right: 4px;
		outline: none;
		border: none;
		background: none;
		height: 21px;
		width: 30px;
		background-image: url(../img/mag_glass.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		cursor: pointer;
		transition: top .08s linear 0s, width .08s linear 0s, height .08s linear 0s;
	}
	#search_btn:hover {
		top: -3px;
		height: 36px;
		width: 36px;
	}

/*Notifications*/

#notification_cont {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: 130px;
}
#notification_title {
	font-size: 2.3em;
	color: rgb(70,70,70);
	height: 30px;
	line-height: ;
	margin: 0 0 6px;
}
#notification_title img{
	position: relative;
	top: 5%;
	height: 90%;
	margin-left: 10px;
	opacity: .55;

	transition: opacity .1s linear 0s;
}
#notification_title img:hover{
	opacity: 1;
}
#notification_btns_cont {
	height: 70px;
	width: 100%;
	outline: 1px solid rgb(230,230,230);
}
.notification_btn {
	height: 100%;
	line-height: 74px;
	font-size: 1.8em;
	width: 33.3333333333%;
	text-align: center;
	display: inline-block;
	background-color: rgb(255,255,255);
	cursor: default;
	position: relative;
	user-select:none;
	-webkit-user-select:none;
	transition: background-color .1s linear 0s, color .1s linear 0s;
}
#notification_btns_cont > div{
	/* the ALL btn */
	width: 25%;
}
#notification_btns_cont > div+div{
	/* the COMMENTS and QUESTIONS btns */
	width: 37.5%;
}
.notification_btn:hover {
	background-color: rgb(65,65,65);
	color: rgb(255,255,255);
}
.notification_btn > img {
	position: absolute;
	height: 26px;
	top: 4px;
	right: 8px;
}


/*ADDED THIS*/
.fixed_search_sect {
	position: fixed;
	top: 40px;
	width: 100%;
	height: 50px;
	padding: 0;
	background-color: rgb(240,239,238);
	z-index: 10;
	box-shadow: 0 1px 8px rgba(0,0,0,.25);
}
.fixed_search_sect #search_bar_cont {
	width: 90%;
	height: 25px;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: 10px;
}
.fixed_search_sect #notification_cont{
	display: none;
}


/*Video Section*/
.video_sect {
	width: 90%;
	max-width: 900px;
	height: 1000px;
	margin: 0 auto;
	/*background-color: red;*/
}

.sort_by_cont {
	/*background-color: lime;*/
	padding: 30px 0;
	margin: 0 0 50px;
}

.sort_by_cont div{
	font-size: 1.8em;
	float: left;
	/*background-color: lime;*/
	padding: 4px 8px;
}
.sort_by_cont div:first-child {
	padding: 4px 8px 4px 0;
}

.sort_by_btn {
	margin-left: 90px;
	color: rgb(130,130,130);
	outline: 5px solid rgba(194,0,15,0);
	cursor: default;
	
}
.sort_by_btn:hover {
	transition: color .15s linear 0s, outline .15s linear 0s;
	color: rgb(70,70,70);
}

.sort_by_cont .selected{
	transition: color .15s linear 0s, outline .15s linear 0s;
	outline: 5px solid rgba(194,0,15,1);
	color: rgb(70,70,70);
}

/*Videos Container*/
.chapter_header {
	font-size: 2.8em;
	color: rgb(60,60,60);
	/*background-color: salmon;*/
}


.videos_cont {
	width: 100%;
	/*background-color: fuchsia;*/
	margin: 0 0 30px;
}
.videos_cont:after {
	content: " ";
	display: block;
	clear: both;
	width: 100%;
}
.video {
	height: 160px;
	width: 47.5%;
	margin: 0 0 30px;
	/*background-color: purple;*/
}
.left {
	float: left;
}
.right {
	float: right;
}
.video_screen{
	width: 55%;
	height: 100%;
	/*background-color: lime;*/
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position:relative;
	cursor: pointer;
}
.video_screen:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	/*background-color: pink;*/
	box-shadow: inset 0 0 35px 5px rgba(0,0,0,.4);
}
	#video1 {
		background-image: url(../img/pagoda1.jpg);
	}
	#video2 {
		background-image: url(../img/sushi1.jpg);
	}
	#video3 {
		background-image: url(../img/shinto1.jpg);
	}
	#video4 {
		background-image: url(../img/anime1.jpg);
	}
	#video5 {
		background-image: url(../img/blastoise.jpg);
	}

.video_stats{
	width: 45%;
	height: 115px;
	max-height: 100%;
	background-color: rgb(70,70,70);
	float: right;
	position: relative;
	padding: 45px 0 0;
}
.video .video_title {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	max-width: none;
	width: 100%;
	/*background-color: red;*/
	font-size: 1.4em;
	height: 25px;
	padding: 10px 0;
	color: white;
	text-align: center;
	text-decoration: underline;
	background-color: rgb(70,70,70);
	transition: .2s ease 0s;
}
.video:hover .video_title {
	top: -20px;
	border-radius: 15px;
}

.num_data {
	font-size: 1.3em;
	margin: 0 0 5px;
	padding: 0 0 0 15px;
	color: white;
	position: relative;
	z-index: 2;
}

