html, body {
	margin:0;
	padding:0;
	font-family: "Geomanist";
	font-size: 100%;
	line-height: 1;
}

header {
	height: 40px;
	width: 100%;
	background-color: rgb(85,85,85);
	position: relative;
	z-index: 2;
}

.search_notification_sect {
	height: 360px;
	background-color: rgb(240,239,238);

	/*box-shadow: 0 1px 5px rgba(0,0,0,.2);*/
}
	/*Search Bar*/
	#search_bar_cont {
		width: 90%;
		height: 25px;
		max-width: 600px;
		margin: 0 auto;
		position: relative;
		top: 50px;
	}

	#search_bar {
		display: block;
		width: 100%;
		height: 100%;
		outline: none;
		border: 1px solid rgb(225,225,225);
		border-radius: 5px;
		font-size: 1.3em;
		line-height: 30px;
		color: rgb(70,70,70);
		text-indent: 3px;
		font-family: "Geomanist";
	}

	#search_btn {
		position: absolute;
		top: 4px;
		right: 4px;
		outline: none;
		border: none;
		background: none;
		height: 21px;
		width: 30px;
		background-image: url(../img/mag_glass.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		cursor: pointer;
		transition: top .08s linear 0s, width .08s linear 0s, height .08s linear 0s;
	}
	#search_btn:hover {
		top: -3px;
		height: 36px;
		width: 36px;
	}

/*Notifications*/

#notification_cont {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: 130px;
	outline: 2px solid red;
}
#notification_title {
	font-size: 2.3em;
	color: rgb(70,70,70);
	height: 30px;
	background-color: lime;
	line-height: ;
	margin: 0 0 6px;
}
#notification_title img{
	position: relative;
	top: 5%;
	height: 90%;
	margin-left: 10px;
}
#notification_btns_cont {
	height: 70px;
	width: 100%;
	background-color: fuchsia;
}



/*Video Section*/

.video_sect {
	width: 90%;
	max-width: 800px;
	height: 1000px;
	margin: 0 auto;
	background-color: red;
}

.sort_by_cont {
	background-color: lime;
	padding: 30px 0 70px;
}

.sort_by_cont div{
	font-size: 1.8em;
	float: left;
	background-color: lime;
	padding: 4px 8px;
}
.sort_by_cont div:first-child {
	padding: 4px 8px 4px 0;
}

.sort_by_btn {
	margin-left: 90px;
	color: rgb(130,130,130);
	outline: 5px solid rgba(194,0,15,0);
	cursor: default;
	transition: color .15s linear 0s, outline .15s linear 0s;
}
.sort_by_btn:hover {
	color: rgb(70,70,70);
}

.sort_by_cont .selected{
	outline: 5px solid rgba(194,0,15,1);
	color: rgb(70,70,70);
}


