
.header
{
	top:-40px;
}

#logout
{
	float:none;
	top:40px;
	right:0;
	position:absolute;
	height:50px;
	line-height:50px;
}

#search_notification_sect .button.library-button
{
	top:10px !important;
	background:#999 !important;
	color:white !important;
}

.search_notification_sect {
	height: 90px;
	background-color:#666;
	padding:40px 0 0 0;
	margin-top:-40px;
}
	/*Search Bar*/
	#search_bar_cont {
		width: 90%;
		height: 25px;
		max-width: 600px;
		margin: 0 auto;
		position: relative;
		top:12.5px;
	}

	#search_bar {
		display: block;
		width: 100%;
		height: 100%;
		outline: none;
		border: 1px solid rgb(225,225,225);
		border-radius: 5px;
		font-size: 1.1em;
		line-height: 25px;
		color: rgb(70,70,70);
		text-indent: 3px;
		font-family: "Geomanist";
	}

	#search_btn {
		position: absolute;
		top: 4px;
		right: 4px;
		outline: none;
		border: none;
		background: none;
		height: 21px;
		width: 30px;
		background-image: url(../img/mag_glass.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		cursor: pointer;
		transition: top .08s linear 0s, width .08s linear 0s, height .08s linear 0s;
	}
	#search_btn:hover {
		top: -3px;
		height: 36px;
		width: 36px;
	}

	/*FIXED HEADER*/
.fixed_search_sect {
	position: fixed;
	top: 40px;
	width: 100%;
	height: 50px;
	padding: 0;
	background-color: rgb(240,239,238);
	z-index: 10;
	box-shadow: 0 1px 8px rgba(0,0,0,.25);
	display:none;
}
.fixed_search_sect #search_bar_cont {
	width: 90%;
	height: 25px;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: 12.5px;
}
.fixed_search_sect #notification_cont{
	display: none;
}

/*Notifications*/

#edit_vid_cont {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: 70px;
}
#edit_vid_title {
	font-size: 2.3em;
	color: rgb(70,70,70);
	height: 40px;
	line-height: ;
	margin: 0 0 6px;
}
#edit_vid_title img{
	position: relative;
	top: 5%;
	height: 90%;
	margin-left: 10px;
	opacity: .55;

	transition: opacity .1s linear 0s;
}
#edit_vid_title img:hover{
	opacity: 1;
}
#edit_vid_btns_cont {
	height: 70px;
	width: 100%;
	outline: 1px solid rgb(230,230,230);
}
.edit_vid_btn {
	height: 100%;
	line-height: 74px;
	font-size: 1.8em;
	width: 33.3333333333%;
	text-align: center;
	display: inline-block;
	background-color: rgb(255,255,255);
	cursor: default;
	position: relative;
	user-select:none;
	-webkit-user-select:none;
	transition: background-color .1s linear 0s, color .1s linear 0s;
}
#edit_vid_btns_cont > div{
	/* the Tags btn */
	width: 25%;
}
#edit_vid_btns_cont > div+div{
	/* the Subtitles btns */
	width: 36%;
}
#edit_vid_btns_cont > div+div+div{
	/* the Restrictions Btn */
	width: 39%;
}
.edit_vid_btn:hover {
	background-color: rgb(65,65,65);
	color: rgb(255,255,255);
}
.edit_vid_btn > img {
	position: absolute;
	height: 26px;
	top: 4px;
	right: 8px;
}

/**/
h2	{
	font-size: 2em;
}
#video-player
{
	background:#222;
	width: 750px;
	margin: 0 auto;
	position:relative;
}

#video-player > video {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

#video-controls
{
	position:relative;
}

#main-video-controls
{
	position:relative;
	bottom:0;
	left:0;
	right:0;
	background:#666;
	display:table;
	width:100%;
}

#main-video-controls > *
{
	display:table-cell;
	background:#666;
	color:white;
	position:relative;
}

#video-time
{
	line-height:30px;
	padding:0 6px;
	width:7%;
	text-align:center;
}

.video-button
{
	width:4%;
	height:30px;
	opacity:0.75;
	cursor:pointer;
}

.video-button img
{
	max-width:30px;
	max-height:20px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%) scale(0.8);
}

.video-button:hover
{
	opacity:1;
}

.video-button:active
{
	opacity:0.5;
}

.video-slider-control
{
	padding:0 5px;
}

.video-slider-control .video-slider
{
	width:15px;
	height:15px;
	position:absolute;
	left:1%;
	top:50%;
	transform:translate(-50%,-50%);
}

.video-slider-control .slider-track
{
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border:5px solid #666;
	border-radius:2px;
	background:#aaa;
	cursor:pointer;
}

.video-slider-control .slider-track.vertical
{
	height:100%;
	width:13px;
}

.video-slider-control .slider-track.horizontal
{
	width:100%;
	height:13px;
}

#hover-video-controls
{
	position:absolute;
	top:-30px;
	height:30px;
	left:0;
	right:0;
	background:red;
	display:none;
	color:white;
	padding:0 5px;
}

#hover-video-controls > :first-child
{
	float:left;
}

#hover-video-controls > :last-child
{
	float:right;
}

#hover-video-controls .radio-container
{
	display:inline-block;
}

#hover-video-controls span
{
	line-height:30px;
}

#hover-video-controls .radio-item
{
	cursor:pointer;
	border:1px solid red;
	padding:2px 4px;
}

#hover-video-controls .radio-item:hover,
#hover-video-controls .radio-item.selected
{
	border-color:white;
}

#hover-video-controls .radio-item:active
{
	opacity:0.5;
}

#video-player:hover #hover-video-controls
{
	display:block;
}

#video-track-container
{
	width:100%;
}

#video-title {
	margin: 0 auto;
	width: 740px;
}

#video-title img {
	margin-top: 15px;
	height: 35px;
}
